/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

body {
  font-family: "Work Sans", "Arial", sans-serif;
}

input:focus {
  outline: none;
}

/* HEADER */
header {
  background-color: rgb(35, 2, 63);
  padding: 2.75rem 0;
}

header h1 {
  font-family: "Righteous", "Arial", sans-serif;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  margin: 0;
}

header input {
  border-radius: 50px;
  margin-right: 0.625rem;
  padding: 0.625rem 1rem;
}

header .fa-search {
  padding: 0.5rem;
  border-radius: 50px;
  text-align: center;
  background-color: rgb(255, 0, 171);
  color: rgb(35, 2, 63);
}

header .fa-search:hover {
  background-color: rgb(255, 102, 204);
  cursor: pointer;
}

.attributes {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  padding: 0.5rem 0;
}

/* Track List */

.track {
  color: rgb(74, 74, 74);
  padding: 2rem 0;
}

.btn-play .fa-play-circle-o {
  color: rgb(255, 0, 171);
}
